// begin sidebar 
aside.sidebar
    header.sidebar__header
        a.brand(href="index.html")
            span.brand__name фото
            span.brand__slogan портфолио

        nav.navigation
            ul.navigation__list
                li.navigation__item
                    a(href="index.html").navigation__link.active Главная
                li.navigation__item
                    a(href="about.html").navigation__link Обо мне
                li.navigation__item
                    a(href="gallery.html").navigation__link Галерея
                li.navigation__item
                    a(href="testimonials.html").navigation__link Отзывы
                li.navigation__item
                    a(href="contact.html").navigation__link Контакты

// end sidebar 