doctype html
html(lang='ru')
	head
		title Template
		include ../modules/head

	body

		// begin wrapper
		.wrapper

			.wrapper-content

				include ../modules/sidebar

				// begin content
				main.content

					.swiper-container
						button.swiper-arrow.swiper-arrow-prev
							img(src="img/swiper-slider/prev.svg", alt="Swiper slider arrow")
						.swiper-wrapper
							.swiper-slide(style="background-image: url(img/swiper-slider/image-1.jpg)")
								.caption
									time(datetime="2018-29-07").date 29-07
									h3
									p
							.swiper-slide(style="background-image: url(img/swiper-slider/image-2.jpg)")
								.caption
									time(datetime="2018-").date
									h3
									p
							.swiper-slide(style="background-image: url(img/swiper-slider/image-3.jpg)")
								.caption
									time(datetime="2018-").date
									h3
									p
							.swiper-slide(style="background-image: url(img/swiper-slider/image-4.jpg)")
								.caption
									time(datetime="2018-29-10").date 29-10
									h3 Леса Англии
									p.							
										Туристы стекаются к одиноким деревьям вдоль пути стены Адриана на севере Англии.
							.swiper-slide(style="background-image: url(img/swiper-slider/image-5.jpg)")
								.caption
									time(datetime="2018-").date
									h3
									p

						
						button.swiper-arrow.swiper-arrow-next
							img(src="img/swiper-slider/next.svg", alt="Swiper slider arrow")
				// end content

		// end wrapper
		include ../modules/footer


		// scripts 
		include ../modules/scripts